.form-container {
  margin: 0 auto;
  padding: 20px;
  width: 700px;

  &__img {
    width: 150px;
    height: 150px;
    border-radius: 12px;
  }

  &__input {
    position: relative;
    width: 160px;
    margin: 30px auto;

    padding: 10px 60px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    background-color: #3581eb;

    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;

    border-bottom: 4px solid #1967d2;
    box-shadow: 0px 7px 15px #488ff3;
    -webkit-box-shadow: 0px 7px 15px #488ff3;
    -moz-box-shadow: 0px 7px 15px #488ff3;
    -o-box-shadow: 0px 7px 15px #488ff3;
    -ms-box-shadow: 0px 7px 15px #488ff3;

    overflow: hidden;

    &:hover {
      transform: scale(1.1);
    }
  }

  input[type="file"] {
    position: absolute;
    top: 0px;
    left: 0;

    right: 0px;
    bottom: 0px;
    width: 100%;

    -webkit-tap-highlight-color: transparent;

    opacity: 0;
    z-index: 1;
    cursor: pointer;
  }
}

$primary: #1967d2;
$secondary: #38e9ef;
$white: #fff;
$gray: #9b9b9b;
$Dark_gray: #5f6368;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 20px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $Dark_gray;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight: 700;
  }

  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

.btn__container {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
.btn {
  display: block;
  width: 200px;
  max-width: 100%;
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
  transform: translatez(0);
  text-decoration: none;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: normal;
  box-shadow: 0 9px 18px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  &--save {
    text-align: center;
    border-radius: 32px;
    padding: 18px;
    color: white;
    background: #1967d2;
    transition: all 0.2s ease-out 0s;
    transform: scale(.9);

    &:hover {
      transform: scale(1);
    }
  }

  &--gradient {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: auto;
    margin: auto;
    z-index: -1;
    background: radial-gradient(
      90px circle at top center,
      rgba(75, 189, 255, 0.8) 30%,
      rgba(16, 63, 175, 0)
    );
    transition: all 0s ease-out 0s;
    transform: translatex(-40px);
    animation: 18s linear 0s infinite move;
  }

  @keyframes move {
    0% {
      transform: translatex(-40px);
    }
    25% {
      transform: translatex(40px);
      opacity: 0.3;
    }
    50% {
      transform: translatex(40px);
      opacity: 1;
      background: radial-gradient(
        90px circle at bottom center,
        rgba(75, 189, 255, 0.8) 30%,
        rgba(16, 63, 175, 0)
      );
    }
    75% {
      transform: translatex(-140px);
      opacity: 0.3;
    }
    100% {
      opacity: 1;
      transform: translatex(-140px);
      background: radial-gradient(
        90px circle at top center,
        rgba(75, 189, 255, 0.8) 30%,
        rgba(16, 63, 175, 0)
      );
    }
  }
}
