#card {
  min-height: 160px;
  min-width: 375px;
  max-width: 720px;
  width: 100%;
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
  display: flex;
}

#card .text-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 3;
}
#card .text-section .title {
  font-size: 1.125rem;
  line-height: 1.4;
  color: #202124;
  font-weight: bold;
}

.img-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
#card .img-section img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin: 0 0 auto auto;
}
.img-section .descripcion {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #202124;
  flex: 3;
}
.img-section .actions {
  flex: 1;
  font-size: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 15px;
}
.img-section .actions .delete {
  color: rgb(190, 8, 8);
}
.img-section .actions .edit {
  color: rgb(110, 110, 238);
  margin: 0 12px;
}
