<div *ngFor="let item of news; index as index">
  <div id="card">
    <div class="text-section">
      <p class="title">{{ item.title }}</p>
      <div class="descripcion">{{ item.description }}</div>
    </div>
    <div class="img-section">
      <img src="{{ item.newsPicture }}" alt="Imagen Noticia" />
      <div class="actions">
        <i (click)="onUpdate(item)" class="far fa-edit edit"></i>
        <i (click)="onDelete(item)" class="far fa-trash-alt delete"></i>
      </div>
    </div>
  </div>
</div>
