#sidebar {
  width: 280px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
}

#sidebar .links {
  padding: 0;
  width: 264px;
  height: 42px;
  padding: 20px 10px 0 6px;
  display: flex;
  flex-direction: column;
}

#sidebar .links a{
  display: flex;
  text-decoration: none;
  color: #5f6368;
  padding: 9px 0;
  align-items: center;
}
#sidebar .links a:hover {
  background-color: #a8ccff81;
  color: #1967d2;
  border-radius: 0 50px 50px 0;
}

#sidebar .links i {
  height: 24px;
  width: 24px;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 710px) {
  #sidebar {
    display: none;
  }
}